*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100vh;
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    color: #000;
}

a{
    text-decoration: none;
    color: #000;
}

ul, ol, li{
    list-style: none;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../media/back_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-color: #000;
}
.start{
    background-image: url('../media/back.png');
}

.description{
    font-size: 32px;
    max-width: 575px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.btn{
    font-size: 32px;
    border-radius: 25px;
    padding: 15px 50px;
    background-color: #FFC007;
    color: #00233D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
}

.head__text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    max-width: 547px;
    width: 100%;
}

.form__rl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 120px 45px 120px;
    margin-bottom: 40px;
    background-color: #00233D;
    border-radius: 50px;
    max-width: 630px;
    width: fit-content;
}

.form__rl input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 50px;
    border: none;
    background-color: #4E539E;
    max-width: 400px;
    width: 400px;
    height: 80px;
    margin: 20px 0;
    box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    font-weight: bold;
}
.form__rl input:nth-last-of-type(1){
    margin-bottom: 130px;
}

.form__rl input::placeholder{
    color: #C0C0C0;
}

.form__rl button{
    display: flex;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #4E539E;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding: 12px 41px;
    box-shadow: 0px 11px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
    margin: 15px 0;
}

.form__rl button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

.form__rl a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom: 1px solid #fff;
}